@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #f33333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

span {
    color: var(--main-color);
    text-decoration: underline solid var(--text-color);

}

/*About Section */

.about {
    background: var(--second-bg-color);
}

.about h1 {
    font-size: 12rem;
    font-weight: 1000;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: underline solid var(--main-color);
}

.about-img {
    border-radius: 50%;
    text-align: center;
    margin-bottom: 50px;
}

.about-img img {
    position: relative;
    width: 34vw;
    border-radius: 50%;
    box-shadow: 0 0 35px var(--main-color);
    cursor: pointer;
}

.about-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}

.about .information h3 li {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
}

.container h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    text-shadow: 3px 5px 10px var(--second-bg-color);

}

.about .container {
    background: #e1352c54;
    color: var(--text-color);
    border-radius: 2rem;
    padding: 2rem;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.about .container .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.about .container .bar {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 1rem;
    background: var(--bg-color);
    box-shadow: 0 4px 10px var(--main-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.about .container .bar:hover {
    box-shadow: 0 4px 10px var(--main-color);
    transform: scale(1.03);
}

.about .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.about .container .bar .info img {
    height: 60px;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 15px var(--main-color);
}

.about .container .bar .info span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
    text-decoration: none;
}

.contactinfo {
    font-size: 2.3rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
}

.contactinfo p strong {
    color: var(--main-color);
}

@media (max-width:460px) {
    section {
        padding: 10rem 3% 2rem;
    }

    .about {
        padding-bottom: 7rem;
    }

    .about h1 {
        font-size: 6rem;
        margin-bottom: 1.5rem;
    }

    .about-img img {
        margin-bottom: 1rem;
        width: 60vw;
    }

    .about .information h3 li {
        font-size: 1.3rem;
        margin-bottom: 1.1rem;
    }

    .about .container {
        margin-top: 5px;
        width: 90%;
    }

    .about .container .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        gap: 2.5rem;
    }

    .contactinfo {
        font-size: 1.5rem;
        margin-bottom: 1.1rem;
    }
}